/*Style du corp de la page*/

body
{
    margin: 1em;
    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
    background-color: #C2893b;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
section
{
    font-size: 1.5rem;
}

.portes_carte
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 45rem;
}
.carte
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 5rem;
    width: 31%;
    height: 45%;
}
.carte h3
{
    font-size: 1.3rem;
}
.carte p
{
    font-size: 1.09rem;
    width: 95%;
}
footer nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 5rem;
    margin: 0 5%;
}
footer a
{
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

/* Adaptation des supports tablettes */

@media only screen and (min-device-width: 600px) and (max-device-width: 1023px)
{
    /* stylisation de la section de la page */

    .portes_carte
    {
        display: flex;
        flex-direction: row;
        height: 80rem;
    }
    .carte
    {
        width: 45%;
        height: 29%;
    }
    .carte h3 
    {
        font-size: 50%;
    }
}

/* Adaptation des supports mobiles */

@media only screen and (min-device-width: 280px) and (max-device-width: 599px)
{
    .portes_carte
    {
        display: flex;
        flex-flow: column nowrap;
        height: 100rem;
    }
    .carte
    {
        width: 100%;
        height: 15%;
    }
    .carte h3
    {
        font-size: 70%;
    }
    .carte p
    {
        font-size: 55%;
    }
    footer
    {
        visibility: hidden;
    }
}

/* Paramètre de la page */

/* body 
{
    display: flex;
    justify-content: center;
    margin: 0;
}
#page_a4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 297mm;
    width: 210mm;
    border: 1px solid black;
    padding: 2.5cm;
}
h1
{
    color: red;
    text-align: center;
}
span
{
    font-weight: bold;
} */

/*Stylisation de l'en-tête*/

/* header
{
    display: flex;
}
header figure img
{
    height: 200px;
    width: auto;
    border: none solid black;
    border-radius: 100%;
    box-shadow:  inset 0.5px 0.1px 1em black;
}
header figure
{
    display: flex;
}
footer
{
    display: flex;
    justify-content: space-around;
}
footer a
{
    text-decoration: none;
    color: black;
}
footer a:hover
{
    color: black;
} */